/* .popup__error{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    transition: .3s;
    padding: 0px;
    opacity: 0;
}
.popup__error-active{
    opacity: 1;
} */